NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CONVEX_URL=
CLERK_JWT_ISSUER_DOMAIN=
ALLOWED_EMAILS=minh@example.com,partner@example.com
HOUSEHOLD_SLUG=main-household
HOUSEHOLD_NAME=Shared Job Space
